.background-image {
  background-image: url(./images/banner1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.background-overlay {
  background-color: rgba(0, 0, 0, 0.089);
}
